@import './logo.css';
@import './menu.css';
@import './list.css';

.sidebar {
    background: var(--gray60Color);
    inline-size: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1.5rem;
}